#exportPattern("^[[:alpha:]]+")

#export(
#  # THE GUI
#  gmhelper,
#  #
#  dungeon_name, 
#  tavern_name,
#  town_name,
#  #
#  char_name,
#  barbarian_name,
#  dwarf_name,
#  elf_name,
#  orc_name,
#  troll_name,
#  #
#  make_item,
#  #
#  menu,
#  #
#  gen_map,
#  gen_mundane,
#  gen_food,
#  gen_drink,
#  gen_key,
#  gen_money,
#  gen_gems,
#  gen_jewelry,
#  gen_potions,
#  #
#  roll_a_guy
#)

export(gmhelper)
